<% 
     deleteHelper = function(id,linkPrefix){
        return `<a href="javascript:deleteItem('/admin/${linkPrefix}/delete/${id}')" class="rounded-circle btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></a>`
    }
%>


