<% 
    handleEdit = (linkPrefix,id) =>{
      return  `<a href="/admin/${linkPrefix}/form/${id}" class="rounded-circle btn btn-sm btn-info " title="Edit">
					<i class="fas fa-pencil-alt"></i>
				</a>`
    }
%>