<% 
     handleImage = (image) =>{
        return  `<td class="text-center"><img src="/dist/img/product_image/item_images/${image}" style="max-width: 100px; max-height: 100px"></td>`
    } 

    handleImageCategory = (image) =>{
        return  `<td class="text-center"><img src="/dist/img/product_image/category_images/${image}" style="max-width: 100px; max-height: 100px"></td>`
    }

%>