<% 
    handleOrdering = (ordering,id)=>{
        return `<td class="text-center position-relative" >
                    <input type="number" name="items-ordering" value="${ordering}" class="text-center ordering" data-id="${id}" style="width:100px">
				</td>`
    }

%>