<% 
    let listMessage = [
        {
            'avatar':'/dist/img/user1-128x128.jpg',
            'username': 'Brad Diesel',
            'message':'Call me whenever you can...',
            'time':'4 Hours Ago',
        },
        {
            'avatar':'/dist/img/user8-128x128.jpg',
            'username': 'John Pierce',
            'message':'I got your message bro',
            'time':'4 Hours Ago',
        },
        {
            'avatar':'/dist/img/user3-128x128.jpg',
            'username': 'Nora Silvester',
            'message':'The subject goes here',
            'time':'4 Hours Ago',
        },
    ]

%>

<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
      <i class="far fa-comments"></i>
      <span class="badge badge-danger navbar-badge">3</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
      <a href="#" class="dropdown-item">
        <% listMessage.forEach(element => { %>
          <!-- Message Start -->
        <div class="media">
            <img src="<%= element.avatar %>" alt="User Avatar" class="img-size-50 mr-3 img-circle">
            <div class="media-body">
              <h3 class="dropdown-item-title">
                <%= element.name %>
                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
              </h3>
              <p class="text-sm"><%= element.message %></p>
              <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> <%= element.time%></p>
            </div>
          </div>
          <!-- Message End -->
        <% }) %>
      </a>
      <div class="dropdown-divider"></div>
      <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
    </div>
  </li>